<div class="list-item h-entry">

  {% set header_image = page.header.header_image | defined(true) %}
  {% set header_image_width = page.header.header_image_width | defined(1000) %}
  {% set header_image_height = page.header.header_image_height | defined(330) %}
  {% set header_image_file = page.header.header_image_file %}

  <div class="list-blog-header">
    {% if header_image %}
      {% if header_image_file %}
        {% set header_image_media = page.media.images[header_image_file] %}
      {% else %}
        {% set header_image_media = page.media.images | first %}
      {% endif %}

      {# support image credit tag - hibbittsdesign.org #}
      {% if page.header.header_image_credit %}
        <div class="image-credit-wrapper"><span class="image-credit">
          {% if page.header.header_image_creditlink %}
            Image: <a class="newwindow external-link" href="{{ page.header.header_image_creditlink }}">
            {{ page.header.header_image_credit }}</a></span>
            <img src="{{ header_image_media.cropZoom(header_image_width, header_image_height).url }}" alt="{{ page.header.header_image_alt_text }}"/>
          {% else %}
            Image: {{ page.header.header_image_credit }}</span>
            <img src="{{ header_image_media.cropZoom(header_image_width, header_image_height).url }}" alt="{{ page.header.header_image_alt_text }}"/>
          {% endif %}
        </div>
      {% else %}
        <img src="{{ header_image_media.cropZoom(header_image_width, header_image_height).url }}" alt="{{ page.header.header_image_alt_text }}"/>
      {% endif %}

  {% endif %}

  </div>

  <div class="modularitem">
    {# diable regular post handling - hibbittsdesign.org #}
    {# <h3>{{ page.title }}</h3> #}
    <p>{{ page.content }}</p>
  </div>
</div>
