{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getLanguage ?: 'en' }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>
    {% include 'partials/metadata.html.twig' %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

      {% block stylesheets %}
        {% do assets.addCss('theme://css/pure-0.5.0/grids-min.css', 104) %}
        {% do assets.addCss('theme://css-compiled/nucleus.css', 103) %}
        {% do assets.addCss('theme://css-compiled/template.css', 102) %}
        {% do assets.addCss('theme://css/theme.css',100) %}
        {% do assets.addCss('theme://css/custom.css', 101) %}
        {% do assets.addCss('theme://css/font-awesome.min.css', 100) %}
        {% do assets.addCss('theme://css/slidebars.min.css') %}

        {% if browser.getBrowser == 'msie' and browser.getVersion == 10 %}
            {% do assets.addCss('theme://css/nucleus-ie10.css') %}
        {% endif %}
        {% if browser.getBrowser == 'msie' and browser.getVersion >= 8 and browser.getVersion <=9 %}
            {% do assets.addCss('theme://css/nucleus-ie9.css') %}
            {% do assets.addJs('theme://js/html5shiv-printshiv.min.js') %}
      {% endif %}
  {% endblock %}
  {{ assets.css() }}

  {% block javascripts %}
      {% do assets.addJs('jquery', 102) %}
      {% do assets.addJs('theme://js/modernizr.custom.71422.js', 101) %}
      {% do assets.addJs('theme://js/my.js', 100) %}
      {% do assets.addJs('theme://js/antimatter.js') %}
      {% do assets.addJs('theme://js/slidebars.min.js') %}
  {% endblock %}
  {{ assets.js() }}

{% endblock head %}
</head>

    <body id="top" class="{{ page.header.body_classes }}">

      {# added hidden page title for screen readers - hibbittsdesign.org #}
      <h1 class="hidden">{{page.title}}</h1>

      <div id="sb-site">

        {# check content display flag - hibbittsdesign.org #} {% if not (grav.uri.param('chromeless')) and (not theme_config.chromeless.enabled) %} {% block header %}
        <header id="header">
          <div id="logo">
            <h3><a href="{{ base_url == '' ? '/' : base_url }}">{{ config.site.title }}</a></h3>
          </div>
          <div id="navbar">
            {% block header_extra %}{% endblock %} {% if config.plugins.langswitcher.enabled %} {% include 'partials/langswitcher.html.twig' %} {% endif %} {% block header_navigation %} {% include 'partials/navigation.html.twig' %} {% endblock %}
            <span class="panel-activation sb-toggle-left navbar-left menu-btn fa fa-bars"></span>
          </div>
        </header>
        {% endblock %} {% block showcase %}{% endblock %} {% else %}
        <div style="margin-bottom: -130px;"></div>
        {% endif %} {% block body %}
        <section id="body" class="{{ class }}">
          {% block content %} {% endblock %} {# check to display CC License - hibbittsdesign.org #} {# check to display git sync link in page - hibbittsdesign.org #}
          {% if theme_config.display_of_git_sync_repo_link == 'page' and not (grav.uri.param('summaryonly')) %}
          <div class="content-wrapper">
            <p>{% include 'partials/git_sync_repo_link_note.html.twig' %}</p>
          </div>
          {% endif %}
          {% if theme_config.cc_license.enabled %}
          <div class="content-wrapper">
            <p>{% include 'partials/creative_commons_license.html.twig' %}</p>
          </div>
          {% endif %}
        </section>
        {% endblock %}
        {# check content display flag - hibbittsdesign.org #}
        {% if not (grav.uri.param('chromeless')) and (not theme_config.chromeless.enabled) %}
          {% block footer %}
            <footer id="footer">
            <div class="totop">
              <span><a href="#" id="toTop"><i class="fa fa-arrow-up"></i></a></span>
            </div>
            {# check to display git sync link in footer or not yet defined by saving theme settings - hibbittsdesign.org #}
            {% if theme_config.display_of_git_sync_repo_link == 'footer' %}
              <br>{% include 'partials/git_sync_repo_link.html.twig' %}
            {% endif %}
            {# display footer markdown page - hibbittsdesign.org #}
            {% set content = pages.find('/footer').content %}
            {% if content %}
              {{ content }}
            {% endif %}
            </footer>
          {% endblock %}
      {% endif %}

      </div>
      <div class="sb-slidebar sb-left sb-width-thin">
        <div id="panel">
          {% include 'partials/navigation.html.twig' %}
        </div>
      </div>
      {% block bottom %} {{ assets.js('bottom') }}
      <script>
        $(function() {
          $(document).ready(function() {
            $.slidebars({
              hideControlClasses: true,
              scrollLock: true
            });
          });
        });
      </script>
      {% endblock %}
    </body>

    {# added global scripts - hibbittsdesign.org #}
    {% include 'partials/scripts.html.twig' %}

</html>
